<form name="criarParcelaCtrl.criarParcela">
  <div class="margin-header-conteudo">
    <span class="titulo-verde-header">{{'label-criar-parcela' | translate | uppercase}}</span>
    <div class="base-vermelho"></div>
    <hr class="linha-divisoria">
  </div>

  <div layout="row" flex="100" flex-xs="100">
    <v-accordion multiple class="vAccordion--default" flex="100" flex-xs="100">
        <v-pane id="accordion-dados-imovel-parcela">
            <v-pane-header class="titulo-verde negrito">
                {{'label-dados-imovel' | translate | uppercase}}
            </v-pane-header>
            <v-pane-content>

                <div layout="row" layout-xs="column">
                    <label>{{'label-rip' | translate}}: &nbsp;</label>
                    <span>
                        {{criarParcelaCtrl.dadosRipUtilizacao.rip}}
                    </span>
                </div>
                <div layout="row" layout-xs="column" class="margin-top">
                    <label>{{'label-area-terreno' | translate}} (m²): &nbsp;</label>
                    <span>
                        {{criarParcelaCtrl.dadosRipUtilizacao.areaTerreno | number:2}}
                    </span>
                </div>

                <md-table-container class="margin-top" ng-show="criarParcelaCtrl.dadosRipUtilizacao.benfeitorias.length > 0">
                    <table md-table>

                    <thead md-head>
                    <tr md-row>
                        <th md-column>{{"label-acessao-benfeitoria" | translate}}</th>
                        <th md-column>{{"label-area-construida" | translate}}</th>
                        <th md-column>{{"label-detalhar" | translate}}</th>
                    </tr>
                    </thead>

                    <tbody md-body>

                    <tr md-row ng-repeat="benfeitoria in criarParcelaCtrl.dadosRipUtilizacao.benfeitorias |
                                            limitTo: criarParcelaCtrl.tabelaBenfeitorias.limit:
                                            (criarParcelaCtrl.tabelaBenfeitorias.page - 1) * criarParcelaCtrl.tabelaBenfeitorias.limit">
                        <td md-cell>
                            {{benfeitoria.codigo}} - {{benfeitoria.especializacao}}
                        </td>
                        <td md-cell>
                            {{benfeitoria.areaConstruida | number:2}}
                        </td>
                        <td md-cell>
                            <ng-md-icon id="btn-detalhar-benfeitoria" 
                                        icon="search"
                                        class="hand cor-remover"
                                        size="18"
                                        ng-click="criarParcelaCtrl.abrirDetalharImovel();">
                            </ng-md-icon>
                        </td>
                    </tr>
                    </tbody>

                    </table>
                </md-table-container>
                <md-table-pagination ng-show="criarParcelaCtrl.dadosRipUtilizacao.benfeitorias"
                                     md-limit="criarParcelaCtrl.tabelaBenfeitorias.limit"
                                     md-limit-options="criarParcelaCtrl.tabelaBenfeitorias.limitsPage"
                                     md-page="criarParcelaCtrl.tabelaBenfeitorias.page"
                                     md-total="{{criarParcelaCtrl.dadosRipUtilizacao.benfeitorias.length}}"
                                     md-on-paginate="true">
                </md-table-pagination>

            </v-pane-content>
        </v-pane>
    </v-accordion>

  </div>

  <div layout="row">
    <md-input-container class="margin-top margin-right" flex="50" flex-xs="100" >
      <label>{{'label-nova-parcela' | translate}}:</label>
      <md-select ng-model="criarParcelaCtrl.parcelaSelecionada"
                 ng-model-options="{trackBy:'$value.sequencial'}"
                 ng-disabled="criarParcelaCtrl.dadosRipUtilizacao.parcelas.length === 1"
                 ng-required="!criarParcelaCtrl.modoEdicao"
                 ng-change="criarParcelaCtrl.selecionarParcela();"
                 name="{{'label-nova-parcela' | translate}}"
                 id="cbx-parcela">
        <md-option ng-repeat="parcela in criarParcelaCtrl.dadosRipUtilizacao.parcelas"
                    ng-value="parcela">
          {{parcela.sequencial}}
        </md-option>
      </md-select>
    </md-input-container>


    <label class="margin-top" id="lb-area-parcela" ng-show="criarParcelaCtrl.parcelaSelecionada">

      {{'label-origem-parcela' | translate}}:

      {{criarParcelaCtrl.parcelaSelecionada.areaTerreno | number:2}}

    </label>
  </div>

  <dados-nova-parcela ng-if="criarParcelaCtrl.dadosRipUtilizacao.ultimaParcelaCriada"
                      parcela-selecionada="criarParcelaCtrl.parcelaSelecionada"
                      parcela-nova="criarParcelaCtrl.parcelaNova"
                      parcela-remanescente="criarParcelaCtrl.parcelaRemanescente"
                      ultima-parcela-criada="criarParcelaCtrl.dadosRipUtilizacao.ultimaParcelaCriada"
                      editar="criarParcelaCtrl.modoEdicao">
  </dados-nova-parcela>

  <div flex="100" flex-xs="100" ng-if="criarParcelaCtrl.parcelaNova.areaTerreno && !criarParcelaCtrl.modoEdicao">
      <hr class="linha-divisoria">
  </div>

  <dados-parcela-remanescente ng-if="criarParcelaCtrl.parcelaRemanescente.areaTerreno"
                              id="diretiva-parcela-remanescente"
                              parcela-remanescente="criarParcelaCtrl.parcelaRemanescente">
  </dados-parcela-remanescente>



  <hr class="linha-divisoria-footer">
  <div class="button-botton" layout="row" layout-align="end center">
    <md-button class="md-raised margin-botao-footer" id="btn-fechar-parcela" ng-click="criarParcelaCtrl.fechar()">
      {{'btn-fechar' | translate | uppercase}}</md-button>
    <md-button class="md-raised"
               id="btn-limpar-parcela"
               ng-click="criarParcelaCtrl.limpar()">{{'btn-limpar' | translate | uppercase}}</md-button>
    <md-button class="md-raised"
               id="btn-salvar-parcela"
               ng-click="criarParcelaCtrl.salvarAtualizar()">{{'btn-salvar-parcela' | translate | uppercase}}</md-button>
  </div>

  <h3 class="titulo-verde negrito">{{'label-lista-parcelas-existentes' | translate | uppercase}}</h3>

  <md-table-container ng-show="criarParcelaCtrl.todasParcelas.length > 0">
    <table md-table>

      <thead md-head>
      <tr md-row>
        <th md-column>{{"label-parcela-tabela" | translate}}</th>
        <th md-column>{{"label-area-terreno-parcela" | translate}}</th>
        <th md-column>{{"label-benfeitoria" | translate}}</th>
        <th md-column>{{"label-area-construida-total" | translate}}</th>
        <th md-column>{{"label-acao" | translate}}</th>
      </tr>
      </thead>

      <tbody md-body>

      <tr md-row ng-repeat="parcela in criarParcelaCtrl.todasParcelas |
       limitTo: criarParcelaCtrl.tabelaTodasParcelas.limit:
       (criarParcelaCtrl.tabelaTodasParcelas.page - 1) * criarParcelaCtrl.tabelaTodasParcelas.limit">
        <td md-cell>
          {{parcela.sequencial}}
        </td>
        <td md-cell>
          {{parcela.areaTerreno | number: 2}}
        </td>
        <td md-cell>
          {{parcela.codigoEspecificacao ? parcela.codigoEspecificacao : '-'}}
        </td>
        <td md-cell>
          {{criarParcelaCtrl.formatarAreaConstruida(parcela.areConstruidaBenfeitoria)}}
        </td>
        <td md-cell>
          <ng-md-icon icon="flip" class="hand" ng-click="criarParcelaCtrl.criarNovaParcelaApartirDesta(parcela)">
            <md-tooltip>{{"tooltip-adicionar-parcela" | translate}}</md-tooltip>
          </ng-md-icon>
          <ng-md-icon icon="mode_edit" class="hand" ng-click="criarParcelaCtrl.editar(parcela);"
                      ng-show="criarParcelaCtrl.todasParcelas.length > 1 && parcela.utilizada === false">
            <md-tooltip>{{"tooltip-editar-parcela" | translate}}</md-tooltip>
          </ng-md-icon>
          <ng-md-icon icon="clear" class="hand" ng-click="criarParcelaCtrl.abrirModalExcluir(parcela)"
                      ng-show="criarParcelaCtrl.todasParcelas.length > 1 && parcela.utilizada === false">
            <md-tooltip>{{"tooltip-remover-parcela" | translate}}</md-tooltip>
          </ng-md-icon>
        </td>
      </tr>
      </tbody>

    </table>
  </md-table-container>
  <md-table-pagination md-limit="criarParcelaCtrl.tabelaTodasParcelas.limit"
                       md-limit-options="criarParcelaCtrl.tabelaTodasParcelas.limitsPage"
                       md-page="criarParcelaCtrl.tabelaTodasParcelas.page"
                       md-total="{{criarParcelaCtrl.todasParcelas.length}}"
                       md-on-paginate="true"
                       ng-show="criarParcelaCtrl.todasParcelas.length > 0">
  </md-table-pagination>

  <div class="button-botton margin-top" layout="row" layout-align="end center">
    <md-button class="md-raised"
               ng-click="criarParcelaCtrl.redimencionarParcela()">{{'btn-redimencionar-parcela' | translate | uppercase}}</md-button>
    <md-button class="md-raised"
               ng-click="criarParcelaCtrl.buscarParcelasInativas()">{{'btn-ver-parcelas-canceladas' | translate | uppercase}}</md-button>
  </div>

  <div ng-show="criarParcelaCtrl.parcelasCanceladas.length > 0 && criarParcelaCtrl.exibirParcelasCanceladas === true">
    <h3 class="titulo-verde negrito">{{'label-lista-parcelas-canceladas' | translate | uppercase}}</h3>

    <md-table-container >
        <table md-table>

          <thead md-head>
          <tr md-row>
            <th md-column>{{"label-parcela-tabela" | translate}}</th>
            <th md-column>{{"label-area-terreno-parcela" | translate}}</th>
            <th md-column>{{"label-benfeitoria" | translate}}</th>
            <th md-column>{{"label-area-construida-total" | translate}}</th>
          </tr>
          </thead>

          <tbody md-body>

          <tr md-row ng-repeat="parcela in criarParcelaCtrl.parcelasCanceladas |
          limitTo: criarParcelaCtrl.tabelaParcelasCanceladas.limit:
          (criarParcelaCtrl.tabelaParcelasCanceladas.page - 1) * criarParcelaCtrl.tabelaParcelasCanceladas.limit">
            <td md-cell>
              {{parcela.sequencial}}
            </td>
            <td md-cell>
              {{parcela.areaTerreno | number: 2}}
            </td>
            <td md-cell>
              {{parcela.codigo ? parcela.codigo : '-'}}
            </td>
            <td md-cell>
              {{criarParcelaCtrl.formatarAreaConstruida(parcela.areConstruidaBenfeitoria)}}
            </td>
          </tr>
          </tbody>

        </table>
      </md-table-container>
      <md-table-pagination md-limit="criarParcelaCtrl.tabelaParcelasCanceladas.limit"
                          md-limit-options="criarParcelaCtrl.tabelaParcelasCanceladas.limitsPage"
                          md-page="criarParcelaCtrl.tabelaParcelasCanceladas.page"
                          md-total="{{criarParcelaCtrl.parcelasCanceladas.length}}"
                          md-on-paginate="true">
      </md-table-pagination>
  </div>



</form>
