<div style="margin-left: 1%; margin-right: 1%;">
    <div ng-if="exibirDespacho();">
        <h2 class="titulo-verde negrito">{{'label-titulo-availiacao-secretario' | translate | uppercase}}</h2>
        <md-radio-group class="md-primary" ng-model="despachos[0].id"
                        flex-offset-xs="5"
                        flex-offset="5"
                        layout="column"
                        ng-disabled="bloquearFormulario"
                        ng-change="exibirMinuta(despachos[0]); verificarJustificativaObrigatoria(despachos[0])">
            <md-radio-button value="9" ng-disabled="bloquearFormulario">
                {{'rb-aprova-adesao' | translate}}            
            </md-radio-button>
            <dados-destinacao ng-show="despachos[0].id == 9"></dados-destinacao>
            

            <md-radio-button value="10" ng-disabled="bloquearFormulario" ng-show="removerAprovoIndeferimento();">
                {{'rb-aprova-indeferimento' | translate}}
            </md-radio-button>

            <md-radio-button value="11" ng-disabled="bloquearFormulario">
                {{'rb-retorna-superintendente' | translate}}
            </md-radio-button>

        </md-radio-group>


        <div layout="row" layout-xs="column" flex="100">
        <md-input-container flex="100">
            <label>{{'label-justificativa-anotacoes-complementares' | translate}}: {{justificativaObrigatoria ? '*': ''}}</label>
            <textarea md-maxlength="500"
                    ng-model="despachos[0].justificativa"
                    flex="100"
                    ng-disabled="bloquearFormulario"
                    ng-required="justificativaObrigatoria"
                    name="{{'label-justificativa-anotacoes-complementares' | translate}}"></textarea>
        </md-input-container>
        </div>
    </div>
</div>