<div style="margin: 1%;">
  <form name="inserirDadosImovelParcelaCtrl.formIncluirDadosImovel">
      <div class="margin-header-conteudo">
          <span class="titulo-verde-header">{{'label-inserir-imovel-parcela' | translate | uppercase}}</span>
          <div class="base-vermelho"></div>
          <hr class="linha-divisoria">
      </div>
      <div layout="row" layout-xs="column"
           ng-show="inserirDadosImovelParcelaCtrl.indice == undefined">
        <md-input-container class="margin-lateral-label retira-margem-top" flex="50" flex-xs="100">
          <label>{{'label-codigo-parcela-area-disponivel' | translate}}:</label>
          <input ng-disabled="inserirDadosImovelParcelaCtrl.bloquear" mask="99999999P9999" ng-model="inserirDadosImovelParcelaCtrl.dadosUtilizacao">
        </md-input-container>
        <div layout-xs="column" layout-align-xs="end end" flex="25">
          <md-button ng-if="inserirDadosImovelParcelaCtrl.destinacao.tipoDestinacaoEnum !== 'PERMISSAO_USO_IMOVEL_FUNCIONAL'" id="btn-selecionar-imovel" ng-show="!inserirDadosImovelParcelaCtrl.bloquear" style="width: 80%" class="md-raised margin-lateral-label"
                      ng-click="inserirDadosImovelParcelaCtrl.buscar()">
            {{'btn-selecionar' | translate}}
          </md-button>

            <md-button ng-if="inserirDadosImovelParcelaCtrl.destinacao.tipoDestinacaoEnum === 'PERMISSAO_USO_IMOVEL_FUNCIONAL'" id="btn-selecionar-imovel-permissao" ng-show="!inserirDadosImovelParcelaCtrl.bloquear" style="width: 80%" class="md-raised margin-lateral-label"
                       ng-click="inserirDadosImovelParcelaCtrl.selecionarImovelFuncional()">
                {{'btn-selecionar' | translate}}
            </md-button>
        </div>
        <div flex="25">
          <p>
            <span ng-show="!inserirDadosImovelParcelaCtrl.bloquear" class="hand link" ng-click="inserirDadosImovelParcelaCtrl.consultarRip();">
                {{'label-nao-sei-codigo-utilizacao' | translate}}
            </span>
          </p>
        </div>
      </div>

      <div ng-show="inserirDadosImovelParcelaCtrl.exibirDadosImovel">
        <div layout="row" layout-xs="column">
                <span class="hand link" ng-click="inserirDadosImovelParcelaCtrl.abrirDetalharParcela()">
                    {{'label-ver-dado-imovel' | translate}}
                </span>
        </div>
        <div layout="row" layout-xs="column" class="margin-top"
              ng-show="inserirDadosImovelParcelaCtrl.destinacaoImovel.imovel.utilizacao.length > 0">
                <span class="hand link" ng-click="inserirDadosImovelParcelaCtrl.exibirOutrasUtilizacoes()">
                    {{'label-ver-outras-utilizacoes' | translate}}
                </span>
        </div>

        <div class="margem-elementos-modal"
              ng-show="inserirDadosImovelParcelaCtrl.isExibirOutrasUtilizacoes"
              style="padding: 24px;">
          <md-table-container>
            <table md-table style="border: 1px solid #cccccc;">
              <thead md-head>
              <tr md-row class="upload-head">
                <th md-column>{{'label-codigo-utilizacao' | translate}}</th>
                <th md-column>{{'label-instrumento' | translate}}</th>
                <th md-column>{{'label-responsavel-destinatario' | translate }}</th>
              </tr>
              </thead>
              <tbody md-body>
              <tr md-row ng-repeat="utilizacao in inserirDadosImovelParcelaCtrl.destinacaoImovel.imovel.utilizacao
                  | limitTo: inserirDadosImovelParcelaCtrl.tabelaUtilizacoes.limit: (inserirDadosImovelParcelaCtrl.tabelaUtilizacoes.page - 1) * incluirDadosImovelParcelaCtrl.tabelaUtilizacoes.limit">
                <td md-cell>
                  <span>{{utilizacao.codigoUtilizacao}}</span>
                </td>
                <td md-cell>
                  <span>{{utilizacao.instrumento}}</span>
                </td>
                <td md-cell>
                  <span>{{utilizacao.responsavelDestinatario}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </md-table-container>
          <md-table-pagination md-limit="inserirDadosImovelParcelaCtrl.tabelaUtilizacoes.limit"
                                md-limit-options="inserirDadosImovelParcelaCtrl.tabelaUtilizacoes.limitsPage"
                                md-page="inserirDadosImovelParcelaCtrl.tabelaUtilizacoes.page"
                                md-total="{{inserirDadosImovelParcelaCtrl.destinacaoImovel.imovel.utilizacao.length}}"
                                md-on-paginate="true"
                                md-page-select
                               style="border: 1px solid #cccccc; margin:0 5px 0 5px; ">
          </md-table-pagination>
        </div>

        <div layout="row" layout-xs="column" class="margin-top">
              <span class="negrito">
                  {{'label-dados-parcela' | translate}}: {{inserirDadosImovelParcelaCtrl.formatarCodigoUtilizacao(inserirDadosImovelParcelaCtrl.destinacaoImovel)}}
              </span>
        </div>
        <div layout="row" layout-xs="column" class="margin-top margem-elementos-modal">
          <span>{{'label-area-parcela-terreno' | translate}}:&nbsp;</span>
          <span class="negrito">{{inserirDadosImovelParcelaCtrl.destinacaoImovel.imovel.parcela.areaTerreno | number: 2}} m²</span>
        </div>

        <label ng-show="inserirDadosImovelParcelaCtrl.destinacaoImovel.imovel.memorialDescritivo">{{'label-memorial-descritivo-parcela-terreno' | translate}}:</label>
        <div ng-show="inserirDadosImovelParcelaCtrl.destinacaoImovel.imovel.memorialDescritivo"
              layout="column"
              layout-xs="column"
              class="margem-elementos-modal"
              style="border-style: solid; border-width: 1px; padding-right: 24px; padding-left: 24px; overflow-y:auto; height: 100px;">
          <read-more limit="240" texto="inserirDadosImovelParcelaCtrl.destinacaoImovel.imovel.memorialDescritivo"></read-more>
        </div>
      </div>

      <div layout="row" layout-xs="column" flex="100" class="alerta margem-elementos-modal" ng-show="inserirDadosImovelParcelaCtrl.exibirAlertaAreaRemanescente">
        <div layout="column">
          <ng-md-icon icon="info_outline" class="my-icon alerta-negrito"></ng-md-icon>
        </div>
        <div layout="column" class="margem-esquerda">
          <div layout="row" layout-xs="column">
            <label class="alerta-negrito">{{'label-atencao' | translate}}</label>
          </div>
          <div layout="row" layout-xs="column">
            <label>{{'msg-area-remanescente' | translate}}</label>
          </div>
        </div>

      </div>

      <div  class="margin-top margem-elementos-modal"
            ng-show="inserirDadosImovelParcelaCtrl.exibirDadosImovel
                     && inserirDadosImovelParcelaCtrl.destinacaoImovel.imovel.parcela.benfeitorias.length > 0">
        <md-table-container>
          <table md-table>
            <thead md-head>
            <tr md-row>
              <th md-column>{{'label-id' | translate | uppercase}}</th>
              <th md-column>{{'label-tipo' | translate}}</th>
              <th md-column>{{'label-area-construida-total' | translate }}</th>
              <th md-column>{{'label-area-construida-disponivel' | translate}}</th>
              <th md-column>{{'label-area-construida-utilizar'| translate}}</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="benfeitoria in inserirDadosImovelParcelaCtrl.destinacaoImovel.imovel.parcela.benfeitorias">
              <td md-cell>
                <span ng-bind="benfeitoria.codigo"></span>
              </td>
              <td md-cell>
                <span ng-bind="benfeitoria.especializacao"></span>
              </td>
              <td md-cell style="text-align: center !important">
                <span ng-bind="benfeitoria.areaConstruida | number: 2"></span>
              </td>
              <td md-cell style="text-align: center !important">
                <span ng-bind="benfeitoria.areaDisponivel | number: 2"></span>
              </td>
              <td md-cell style="text-align: center !important">
                <md-input-container class="margin-top">
                  <input  ng-disabled="inserirDadosImovelParcelaCtrl.destinacao.detalhar === true"
                          ng-model="benfeitoria.areaUtilizar"
                          ui-number-mask
                          required
                          style="text-align: center !important;"
                          ng-blur="inserirDadosImovelParcelaCtrl.calcularPorcentagemPermitidaEditar(benfeitoria);
                                  inserirDadosImovelParcelaCtrl.verificarAreaUtilizarMaiorAreaDisponivel(benfeitoria);
                                  inserirDadosImovelParcelaCtrl.somarAreaDisponivel();
                                  inserirDadosImovelParcelaCtrl.verificarPodeExibirUploadFotosDescricaoArea();
                                  inserirDadosImovelParcelaCtrl.calcularFracaoIdeal();
                                  inserirDadosImovelParcelaCtrl.verificaAreaRemanescente(benfeitoria.areaDisponivel, benfeitoria.areaUtilizar);"/>
                </md-input-container>
              </td>
            </tr>
            <tr md-row>
              <td md-cell colspan="2" style="text-align: center !important">
                <label class="negrito">{{'label-total' | translate}}</label>
              </td>
              <td md-cell style="text-align: center !important">
                <label>{{inserirDadosImovelParcelaCtrl.totalAreaConstruida | number: 2}}</label>
              </td>
              <td md-cell style="text-align: center !important">
                <label>{{inserirDadosImovelParcelaCtrl.totalAreaDisponivel | number: 2}}</label>
              </td>
              <td md-cell style="text-align: center !important">
                <label>{{inserirDadosImovelParcelaCtrl.totalAreaUtilizar | number: 2}}</label>
              </td>
            </tr>
            </tbody>
          </table>
        </md-table-container>
      </div>
      <div ng-show="inserirDadosImovelParcelaCtrl.exibirDadosImovel">
        <div layout="row" layout-xs="column" ng-show="inserirDadosImovelParcelaCtrl.destinacaoImovel.imovel.parcela.benfeitorias.length > 0">
          <md-input-container flex="100">
            <label>{{'label-fracao-ideal' | translate}}:</label>
            <input ng-model="inserirDadosImovelParcelaCtrl.destinacaoImovel.fracaoIdeal"
                    ng-required="inserirDadosImovelParcelaCtrl.destinacaoImovel.imovel.parcela.benfeitorias.length > 0"
                    ng-disabled="!inserirDadosImovelParcelaCtrl.destinacaoImovel.fracaoIdeal
                                 || inserirDadosImovelParcelaCtrl.destinacao.detalhar === true"
                    ui-number-mask
                    ng-blur="inserirDadosImovelParcelaCtrl.verificarArredondamento()"
                    name="{{'label-fracao-ideal' | translate}}">
          </md-input-container>
        </div>
        <div layout="row" layout-xs="column" ng-if="inserirDadosImovelParcelaCtrl.exibirUploadFotosDescricaoArea &&
                                                inserirDadosImovelParcelaCtrl.totalAreaUtilizar !== 0">
            <md-input-container flex="100" flex-xs="100" class="margem-elementos-modal">
                <label>
                {{'label-descricao-area-cosntruida-destinada' | translate}}:
                </label>
                <textarea required
                          name="{{'label-descricao-area-cosntruida-destinada' | translate}}"
                          ng-disabled="inserirDadosImovelParcelaCtrl.desabilitarMemorialDescritivo
                                  || inserirDadosImovelParcelaCtrl.destinacao.detalhar === true"
                          ng-model="inserirDadosImovelParcelaCtrl.destinacaoImovel.memorialDescAreaConstruida"
                          maxlength="2000"
                          md-maxlength="2000">
                        <md-tooltip md-direction="center">Refresh</md-tooltip>
                    </textarea>
                </md-input-container>
            <md-input-container>

            </md-input-container>
        </div>
        <div layout="row" layout-xs="100" flex="100">
          <v-accordion multiple class="vAccordion--default" flex="100" layout-xs="100">
                  <v-pane>
                      <v-pane-header class="titulo-verde negrito">{{'label-planta-memorial-area-destinada' | translate | uppercase}}</v-pane-header>
                      <v-pane-content>
                        <upload arquivos="inserirDadosImovelParcelaCtrl.destinacaoImovel.documentos"
                                formatos-validos="inserirDadosImovelParcelaCtrl.formatosPdf"
                                arquivos-remover="inserirDadosImovelParcelaCtrl.destinacaoImovel.arquivosRemover"
                                bloquear="inserirDadosImovelParcelaCtrl.destinacao.detalhar">
                        </upload>
                      </v-pane-content>
                  </v-pane>
                  <v-pane ng-show="inserirDadosImovelParcelaCtrl.exibirUploadFotosDescricaoArea">
                      <v-pane-header class="titulo-verde negrito">{{'label-foto-vido-area-construida-destinada' | translate | uppercase}}</v-pane-header>
                      <v-pane-content>
                        <upload arquivos="inserirDadosImovelParcelaCtrl.destinacaoImovel.fotoVideo"
                                formatos-validos="inserirDadosImovelParcelaCtrl.formatosFotoVideos"
                                arquivos-remover="inserirDadosImovelParcelaCtrl.destinacaoImovel.arquivosRemover"
                                upload-foto-video="true"
                                bloquear="inserirDadosImovelParcelaCtrl.destinacao.detalhar">
                        </upload>
                      </v-pane-content>
                  </v-pane>
          </v-accordion>
        </div>


      </div>

      <div layout="row"
            layout-align="end center">
        <md-button class="md-raised margem-botoes-modal" ng-click="inserirDadosImovelParcelaCtrl.fechar()">
            {{'btn-voltar'| translate | uppercase}}
          </md-button>
        <md-button id="btn-incluir-imovel" ng-if="inserirDadosImovelParcelaCtrl.destinacao.detalhar !== true && inserirDadosImovelParcelaCtrl.exibirDadosImovel === true" class="md-raised margem-botoes-modal"
                   ng-click="inserirDadosImovelParcelaCtrl.incluir();">
          {{inserirDadosImovelParcelaCtrl.destinacao.editar === true ? 'btn-salvar' : 'btn-incluir'| translate | uppercase}}
        </md-button>
      </div>
  </form>
</div>
